<!DOCTYPE html>
<html lang="${lang}">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} : definitioner : id.kb.se</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/build/app.css" />
    {% block stylesheets %}{% endblock %}
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    {% block navigation %}
    <nav class="navbar navbar-default">
      <div class="{% block navcontainerclass %}container{% endblock %}">
        <div class="navbar-header">
          <div class="navbar-brand navbar-logo">
                <a href="/"><img src="/assets/kb_logo_black.svg"></a>
          </div>
          <a class="navbar-brand" href="/">id.kb.se</a>
        </div>
        <ol class="nav navbar-nav">
          <li class=""><a href="${url_for('thingview.listview')}"><i class="fa fa-cube"></i> Saker</a></li>
        </ol>
        <ol class="nav navbar-nav navbar-right">
          <li class=""><a href="${url_for('marcframeview.marcframeview')}"><i class="fa fa-exchange"></i> Marc-mappningar</a></li>
          <li class=""><a href="${url_for('vocabview.vocabview')}"><i class="fa fa-book"></i> Basvokabulär</a></li>
        </ol>
      </div>
    </nav>
    {% endblock %}
    {% block jumbotron %}{% endblock %}
    <main class="{% block containerclass %}container{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
    <script src="/vendor/jquery/js/jquery.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
