<!DOCTYPE html>
<html lang="${lang}">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} : definitioner : id.kb.se</title>
    <link rel="stylesheet" href="/css/kb-style.css" />
    <link rel="stylesheet" href="/css/main.css" />
    {% block stylesheets %}{% endblock %}
  </head>
  <body {% block bodyattrs %}{% endblock %}>
    {% block navigation %}
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">id.kb.se</a>
        </div>
        <ol class="nav navbar-nav">
          {% block navpath %}
            <li class="active"><a>${self.title()}</a></li>
          {% endblock %}
        </ol>
      </nav>
    {% endblock %}
    <main class="{% block containerclass %}container-fluid{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
    <script src="/vendor/jquery/js/jquery.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
