% extends "base.html"
{% block title %}Index{% endblock %}

{% block bodyattrs %}id="index"{% endblock %}

% block jumbotron
<div class="jumbotron">
  <div class="container">
    <h1>ID.KB.SE</h1>
  </div>
</div>
% endblock

% block content
  <!-- <h1>Definitioner</h1> -->
  <ul class="pages row">
    <a class="col-lg-4 col-md-12 col-sm-12 col-xs-12" href="${url_for('vocabview.vocabview')}"><li>
      <i class="fa fa-book"></i>
      Basvokabulär för bibliografiska termer
    </li></a>
    <a class="col-lg-4 col-md-12 col-sm-12 col-xs-12" href="${url_for('marcframeview.marcframeview')}"><li>
      <i class="fa fa-exchange"></i>
      MARC-mappningar
    </li></a>
    <a class="col-lg-4 col-md-12 col-sm-12 col-xs-12" href="${url_for('thingview.listview')}"><li>
      <i class="fa fa-cube"></i>
      Saker
    </li></a>
  </ul>
% endblock

% block footer

<footer class="footer">
  <div class="footer-container">
  <div class="container">
    <div class="col-md-2 text-center">
      <img src="/assets/kb_logo_black.svg" class="logo-medium" />
    </div>
    <div class="col-md-10">
      <p>
        <strong><a href="http://www.kb.se" alt="Länk till Kungl. Bibliotekets webbplats">
          KUNGL. BIBLIOTEKET
        </a></strong>
        <br>
        <!-- <span>Support: <a href="mailto:libris@kb.se">libris@kb.se</a></span> -->
      </p>
    </div>
  </div>
  </div>
</footer>

% endblock
