% extends "base.html"

{% block title %}Saker{% endblock %}

{% block bodyattrs %}id="list"{% endblock %}

{% block navcontainerclass %} container-fluid {% endblock %}

% block content

  <nav class="navbar navbar-inverse nav-groups bg-happy-muted-denim hidden-xs">
    <div class="container-fluid">
      <ol class="nav navbar-nav">
        % for rtype, count in type_count
          <li>
            <a href="${url_for('.find', p=TYPE, value=rtype.curie, limit=page_limit)}">
              ${rtype.label} (${format_number(count)} st.)</a>
          </li>
        % endfor
      </ol>
    </div>
  </nav>

  <br>
  <br>
  <h1>KBs definitioner och auktoriteter</h1>
  <h2>Sök termer</h2>
  <p>
    <form action="/find" method="GET">
      <input name="limit" value="100" type="hidden" />
      <label>
        Egenskap:
        <input name="p" value="prefLabel" />
      </label>
      <label>
        Söksträng:
        <input name="q" value="" />
      </label>
      <button>Sök</button>
    </form>
  </p>

  {#
  % for itype, items in item_groups_by_type
    <section id="${itype}" class="col-md-12">
      % set t = vocab.index[itype]
      <h2>${t and t.label or itype}</h2>
      <ul class="ul-group">
        % for item in items
          <li>
            <a href="${url_for('thingview.thingview', path=item[ID][1:], suffix='html')}">
              ${vocab.labelgetter(item) or item[ID]} (${item[TYPE]})</a>
          </li>
        % endfor
      </ul>
    </section>
  % endfor
  #}

% endblock
