% extends "base.html"

{% block title %}Saker{% endblock %}

{% block bodyattrs %}id="list"{% endblock %}

% block jumbotron
<div class="jumbotron">
  <div class="container">
    <h1>ID.KB.SE</h1>
  </div>
</div>
% endblock

{% block navcontainerclass %} container {% endblock %}

% block content
  <div class="col-md-8">
    <h1>KBs definitioner och auktoriteter</h1>
    <h2>Sök termer</h2>
    <p>
      <form action="/find" method="GET">
        <input name="limit" value="100" type="hidden" />
        <label>
          Egenskap:
          <input name="p" value="prefLabel" />
        </label>
        <label>
          Söksträng:
          <input name="q" value="" />
        </label>
        <button>Sök</button>
      </form>
    </p>
  </div>

  <div class="col-md-4">
    % for rtype, count in type_count
      <li>
        <a href="${url_for('.find', p=TYPE, value=rtype.curie, limit=page_limit)}">
          ${rtype.label} (${format_number(count)} st.)</a>
      </li>
    % endfor
  </div>


  {#
  % for itype, items in item_groups_by_type
    <section id="${itype}" class="col-md-12">
      % set t = vocab.index[itype]
      <h2>${t and t.label or itype}</h2>
      <ul class="ul-group">
        % for item in items
          <li>
            <a href="${url_for('thingview.thingview', path=item[ID][1:], suffix='html')}">
              ${vocab.labelgetter(item) or item[ID]} (${item[TYPE]})</a>
          </li>
        % endfor
      </ul>
    </section>
  % endfor
  #}

% endblock

% block footer

<footer class="footer">
  <div class="footer-container">
  <div class="container">
    <div class="col-md-2 text-center">
      <img src="/assets/kb_logo_black.svg" class="logo-medium" />
    </div>
    <div class="col-md-10">
      <p>
        <strong><a href="http://www.kb.se" alt="Länk till Kungl. Bibliotekets webbplats">
          KUNGL. BIBLIOTEKET
        </a></strong>
        <br>
        <!-- <span>Support: <a href="mailto:libris@kb.se">libris@kb.se</a></span> -->
      </p>
    </div>
  </div>
  </div>
</footer>

% endblock
