% extends "base.html"

{% block title %}Saker{% endblock %}

{% block bodyattrs %}id="list"{% endblock %}


% block content

  <nav class="navbar navbar-default nav-groups bg-gray-lighter hidden-xs">
    <ol class="nav navbar-nav">
      % for itype, items in item_groups_by_type
        <li>
          <a href="#${itype}">${t and t.label or itype}</a>
        </li>
      % endfor
    </ol>
  </nav>
  <div class="row">
  % for itype, items in item_groups_by_type
    <section id="${itype}" class="col-md-4">
      % set t = vocab.index[itype]
      <h2>${t and t.label or itype}</h2>
      <ul>
        % for item in items
          <li>
            <a href="${url_for('thingview.thingview', path=item[ID][1:], suffix='html')}">
              ${vocab.labelgetter(item) or item[ID]} (${item[TYPE]})</a>
          </li>
        % endfor
      </ul>
    </section>
  % endfor
  </div>
% endblock
