% extends "base.html"

{% block title %}MARCFrame View{% endblock %}

{% block bodyattrs %}class="has-navbar" data-spy="scroll" data-target="#marcnavbar"{% endblock %}

{% block containerclass %}container{% endblock %}

% block navigation
  <nav id="marcnavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">MARCFrame</a>
      <ul class="nav navbar-nav">
        % for cat, catdfn in marc_categories()
          <li>
            <a href="#${cat}">${cat}</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu list-inline" role="menu" style="">
              % for tag, kind, dfn in fields(catdfn)
                <li>
                  <a href="#${cat}-${tag}">${tag}</a>
                </li>
              % endfor
            </ul>
          </li>
        % endfor
      </ul>
    </div>
  </nav>
% endblock

% block content
  <section>
    <h1>MARCFrame</h1>
    <p>KB/LIBRIS mappings of MARC to RDF vocabulary terms.</p>
    % for cat, catdfn in marc_categories()
      <div class="cat" id="${cat}">
        <h3>${cat}</h3>
        <p>thingLink: ${catdfn.thingLink}</p>
        <table class="table table-bordered">
          % for tag, kind, dfn in fields(catdfn)
            <tr>
              <th><div id="${cat}-${tag}">${tag}</div></th>
              <td>
                % for key in ['inherit', 'aboutType', 'link', 'addLink', 'resourceType', 'property', 'addProperty', 'i1', 'i2', 'match-i1', 'match-i2']
                  % if key in dfn
                    <dl class="dl-horizontal">
                      <dt>${key}:</dt>
                      <dd>
                        ${show_value(cat, tag, key, dfn[key])}
                      </dd>
                    </dl>
                  % endif
                % endfor
                % if kind == 'field'
                  ${show_dfn(cat, tag, codes(dfn))}
                % elif kind == 'fixed'
                  <table class="">
                    % for key, subdfn in sorted(dfn.items())
                      % if key[0] != '_' and not key.startswith('TODO:')
                        <tr>
                          <th><div id="${cat}-${tag}-${key}"
                                    >${show_value(cat, tag, 'aboutType', key)}</div></th>
                          <td>
                            % if key[0].isupper() and isinstance(subdfn, dict)
                              ${show_dfn(cat, tag, sorted(subdfn.items()))}
                            % elif isinstance(subdfn, dict)
                              % for k, v in sorted(subdfn.items())
                                <i>${k}</i>: ${show_value(cat, code, k, v)}
                                <br />
                              % endfor
                            % else
                                ${subdfn}
                            % endif
                          </td>
                        </tr>
                      % endif
                    % endfor
                  </table>
                % endif
              </td>
              <td class="col-md-6">
                % if dfn._spec
                  <ol>
                    % for spec in dfn._spec
                      % if spec.source and spec.result
                        <li>
                          <b>MARC</b>
                          <pre><code>${pretty_json(spec.source)}</code></pre>
                          <b>JSON-LD</b>
                          <pre><code>${pretty_json(spec.result)}</code></pre>
                        </li>
                      % endif
                    % endfor
                  </ol>
                % endif
              </td>
            </tr>
          % endfor
        </table>
        {#% if catdfn.postProcessing
          <p>postProcessing: ${catdfn.postProcessing}</p>
        % endif#}
      </div>
    % endfor
  </section>
  <section>
    <h2>Token Maps</h2>
    % for tkey, token_map in sorted(marcframe.tokenMaps.items())
      <div class="tokenmap" id="map-${tkey}">
        <h3>${tkey}</h3>
        % if isinstance(token_map, unicode)
          ${token_map}
        % else
          <select>
            % for key, term in sorted(token_map.items())
              <option>${key}: ${term}</option>
            % endfor
          </select>
        % endif
      </div>
    % endfor
  </section>
% endblock

% block scripts
  <div id="vocabview"></div>
  <script src="/vendor/jquery/js/jquery.js"></script>
  <script src="/js/marcframeview.js"></script>
% endblock

% macro show_value(cat, tag_or_code, key, value)
  % if (not isinstance(value, basestring) or not value.startswith(('@', '_'))
      ) and not isinstance(value, bool) and key in (
        'aboutType', 'link', 'addLink', 'property', 'addProperty', 'resourceType')
    <a href="../vocabview/#${value}">${value}</a>
  % elif key == 'tokenMap'
    <a href="#map-${value}">${value}</a>
  % elif key == 'inherit' and value.isdigit()
    <a href="#${cat}-${value}">${cat} ${value}</a>
  % elif key == 'inherit' and ':' in value
    TEST <a href="#${value.replace(':', '-')}">${value.replace(':', ' ')}</a>
  % elif key == 'inherit'
    <a href="#${value}-${tag_or_code}">${value} ${tag_or_code}</a>
  % elif isinstance(value, dict)
    <table class="table table-condensed table-striped">
        % for key, val in sorted(value.items())
        <tr>
            <th>${key}</th>
            <td>
              % if isinstance(val, dict)
                % for k, v in sorted(val.items())
                  % if not k.startswith('TODO:')
                  <i>${k}</i>: ${show_value(cat, key, k, v)}
                  <br />
                  % endif
                % endfor
              % else
                ${show_value(None, None, key, val)}
              % endif
            </td>
        </tr>
        % endfor
    </table>
  % else
    ${value}
  % endif
% endmacro

% macro show_dfn(cat, tag, items)
  <table class="table table-condensed table-striped">
    % for key, subdfn in items
      <tr>
        <th><div id="${cat}-${tag}-${key}">${key}</div></th>
        <td>
          % for k, v in sorted(subdfn.items())
            % if not k.startswith('TODO:')
              <i>${k}</i>: ${show_value(cat, key, k, v)}
              <br />
            % endif
          % endfor
        </td>
      </tr>
    % endfor
  </table>
% endmacro
