% extends "base.html"

{% block title %}${vocab.labelgetter(thing)}{% endblock %}

{% block bodyattrs %}vocab="http://schema.org/"{% endblock %}

% block content
  ${viewthing(thing, element='article', classes='panel panel-default')}
% endblock

% macro viewthing(thing, element='div', classes='panel panel-default', rel=None, rev=None)
  % set typename = thing[TYPE]
  % if isinstance(typename, list)
    % set t = vocab.index[typename[0]]
  % else
    % set t = vocab.index[typename]
  % endif
  <${element} class="${classes}"
      {% if rel %} property="${rel}"{% endif %}
      {% if rev %} rev="${rev}"{% endif %}
      {% if ID in thing %} resource="${thing[ID]}"{% endif %}
      {% if typename %} typeof="${typename}"{% endif %}>
    % set h = 'h1'
    <header class="panel-heading">
      <${h} class="panel-title">
        ${vocab.labelgetter(db.index.get(thing[ID], thing))}
        {% if t %}(${t.label}){% endif %}
      </${h}>
    </header>
    <div class="panel-body">
      <dl class="dl-horizontal">
        % for k in vocab.sortedkeys(thing)
          % if k in vocab.index or k != REV
            % set p = vocab.index[k]
            % set v = thing[k]
            <dt title="&lt;${p[ID]}&gt;">${p.label or k}</dt>
            <dd>
              % if k == '@id' and v[0] != '_'
                % if v.startswith(('http:', 'https:'))
                  <a href="${v}">&lt;${v}&gt;</a>
                % else
                  <a href="${url_for('thingview.thingview', path=v[1:])}">&lt;${v}&gt;</a>
                % endif
              % elif k == '@type'
                % if t
                  <a href="${t[ID]}">${t.label}</a>
                % else
                  ${v}
                % endif
              % elif isinstance(v, dict)
                ${viewthing(v, rel=k)}
              % elif isinstance(v, list)
                <ul>
                  % for sub in v
                    <li>
                      % if isinstance(sub, dict)
                        ${viewthing(sub, rel=k)}
                      % else
                      <span {% if p.curie %} property="${p.curie}"{% endif %}>${sub}</span>
                      % endif
                    </li>
                  % endfor
                </ul>
              % else
                 <span {% if p.curie %} property="${p.curie}"{% endif %}>${v}</span>
              % endif
            </dd>
          % endif
        % endfor
      </dl>
    </div>
    % if not rel and thing[REV]
      <div class="">
        <b>${ui[REV].label}</b>
        <dl class="dl-horizontal">
          % for k, vs in thing[REV].items()
            % set p = vocab.index[k]
          <dt>&larr; ${p.label}</dt>
          <dd>
              % for v in vs
                ${viewthing(v, rev=p.curie)}
              % endfor
          </dd>
          % endfor
        </dl>
      </div>
    % endif
  </${element}>
% endmacro
