% extends "base.html"

% macro viewscheme(scheme)
  % if scheme.resource is not none and 'titleByLang' in scheme.resource and 'descriptionByLang' in scheme.resource
  <div id="${scheme.resource.notation[0].replace('/','-')}" class="panel panel-default scheme-item">
    <header class="panel-heading">
      <h1 class="panel-title">
        <a href="${view_url(scheme.resource[ID])}">
          ${scheme.resource.titleByLang[lang]}
        </a>
      </h1>
    </header>
    <div class="panel-body container-fluid">
      <div class="row">
        <p class="description collapsed col-md-6">
          ${ scheme.resource.descriptionByLang[lang].strip().replace('\n','<br/>') | safe }
        </p>
        <ul class="col-md-6">
          % for bucket in scheme['@type'].buckets
            <a class="list-group-item"
                href="/find?q=*&limit=50&inScheme.@id=${
                        url_quote(scheme.key)}&@type=${url_quote(bucket.key)}">
                ${bucket.resource.label}
                <span class="badge">${format_number(bucket.doc_count)} st.</span>
            </a>
          % endfor
          {#
          % for subkey in ['@type', 'inCollection.@id']
            % if scheme[subkey].buckets
              <h4>Uppdelning: ${subkey}</h4>
            % endif
            % for bucket in scheme[subkey].buckets
              <a class="list-group-item"
                 href="/find?q=*&limit=50&inScheme.@id=${
                          url_quote(scheme.key)}&${subkey}=${url_quote(bucket.key)}">
                  % if bucket.resource
                    ${bucket.resource.label or bucket.resource.titleByLang.sv}
                  % else
                    ${bucket.key}
                  % endif
                  <span class="badge">${format_number(bucket.doc_count)} st.</span>
              </a>
            % endfor
          % endfor
          #}
        </ul>
      </div>
    </div>
  </div>
  % endif
% endmacro

{% block title %}{% endblock %}

{% block bodyattrs %}id="website"{% endblock %}

% block jumbotron
<div class="jumbotron">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1>ID.KB.SE</h1>
      </div>
      </form>
    </div>
  </div>
</div>
% endblock

{% block navcontainerclass %} container {% endblock %}

% block content

  <div class="panel panel-default intro-text">
    <div class="panel-body container-fluid">
      <div class="row">
        <div class="col-md-6">
          <p>
            <b>id.kb.se</b> är en tjänst som tillgängliggör de grundstenar Kungl.
            biblioteket använder för att publicera strukturerad,
            <a href="https://sv.wikipedia.org/wiki/L%C3%A4nkad_data">länkad data</a>.
            Här finns en samling gemensamma definitioner och begrepp som hälper
            till att samordna beskrivningar av vårt material. I grunden finns bl.a.
            ett basvokabulär med gemensamma egenskaper och typer. I möjligaste mån
            länkar alla definitioner till internationella, välkända motsvarigheter.
          </p>
          <p>
            Här tillgängliggörs bl.a. Svenska ämnesord, barnämnesord och
            genre/formtermer, vilka utgör viktiga byggstenar för denna samordning.
          </p>
        </div>
        <ul class="col-md-6 main-nav">
          % for scheme in thing.statistics.aggregations['inScheme.@id'].buckets
            % if scheme.resource is not none and 'titleByLang' in scheme.resource and 'descriptionByLang' in scheme.resource
            <a class="list-group-item"
                href="#${scheme.resource.notation[0].replace('/','-')}">
                ${scheme.resource.titleByLang[lang]}
            </a>
            % endif
          % endfor
        </ul>
      </div>
    </div>
  </div>

  % for scheme in thing.statistics.aggregations['inScheme.@id'].buckets
    ${viewscheme(scheme)}
  % endfor

% endblock

% block footer

    <div class="footer-container">
      <div class="container">
          <div class="col-md-3 col-md-offset-3 col-md-push-2">
            <h1>Kontakt</h1>
            <ul class="list-unstyled">
              <li class=""><a href="mailto:libris@kb.se?Subject=id.kb.se"><i class="fa fa-fw fa-envelope"></i> libris@kb.se</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-md-push-2">
            <h1>Resurser</h1>
            <ul class="list-unstyled">
              <li class=""><a href="${url_for('marcframeview.marcframeview')}"><i class="fa fa-fw fa-exchange"></i> Marc-mappningar</a></li>
              <li class=""><a href="${url_for('thingview.vocabview')}"><i class="fa fa-fw fa-book"></i> Basvokabulär</a></li>
            </ul>
          </div>
          <div class="text-center col-md-3 col-md-pull-8">
            <div class="">
              <img src="/assets/kb_logo_black.svg" class="logo-medium" alt="" />
            </div>
            <div class="text-black">
              <p><br/>
                <strong><a href="http://www.kb.se" alt="Länk till Kungl. bibliotekets webbplats">
                  KUNGL. BIBLIOTEKET
                </a></strong>
              </p>
            </div>
          </div>
      </div>
    </div>

% endblock


% block scripts
    <script src="/js/website.js"></script>
% endblock
