body#marcframeview {
  
  padding-top: 150px;
  
  #marcnavbar {
    position: fixed;
    top: 51px;
    left: 0px;
    width: 100%;
    z-index: 998;
    border: solid @gray-light;
    border-width: 0px 0px 1px 0px;
    li.active > a {
      background-color: darken(@happy-muted-magenta, 20%) !important;
    }
  }
  .marcframetable {
    background-color: @white;
    td {
      padding: 20px 0;
    }
  }
}
