body#thing {
  
  padding-top: 70px;
  
  .container {
    margin-top: 2em;
    margin-bottom: 100px;
  }
  
  .link-item {
    .chip-class {
      display: inline-block;
      margin-top: 0.2em;
    }
    > .panel-heading {
      overflow-x: hidden;
    }
  }
  
  .panel {
    margin-bottom: 0.5em;
  }
  .main-item {
    .panel-title .chip-class {
      float: right;
    }
    .panel-body {
      padding: 4px 4px;
    }
    dl {
      margin-bottom: 0px;
      display: inline-block;
      width: 100%;
      hr {
        border-style: dotted;
        margin: 0px 0px 0px 0px;
      }
      dd, dt {
        padding: 6px 0px 0px 0px;
      }
      dd {    
        &:last-of-type {
          margin-bottom: 0px;
        }
        ul {
          list-style: none;
          padding: 0px;
          li {
            margin-bottom: 10px;
          }
        }
        .panel {
          margin-top: 0px;
          margin-bottom: 6px;
        }
      }
      dt {
        display: table-cell;
        margin-bottom: 5px;
        a {
          color: @color-prop;
        }
      }
    }
  }
  
  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  
}
