body#thing {
  
  height: 100%;
  
  main {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .side-view {
    .link-item {
      width: 100%;
    }
  }
  
  .panel {
    margin-bottom: 0.5em;
    .panel-body {
      dl {
        dt {
          font-size: 12px;
        }
        dd {
          font-size: 14px;
        }
      }
    }
    .panel-heading {
      background-color: #fff;
      .panel-title a {
        color: @color-headers;
      }
      .label-class {
        font-size: 12px;
        color: @color-class;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        cursor: help;
        line-height: 12px;
        border-bottom: 1px dashed #fff;
        text-decoration: none;
        &:hover {
          border-bottom: 1px dashed @color-class;
        }
      }
      .chip-prop {
          
      }
      .thing-id {
        text-decoration: none;
        &:hover {
          overflow: visible;
        }
        code {
          border: 1px solid #fff;
          &:hover {
            text-decoration: none;
            border: 1px solid @color-id;
          }
        }
      }
    }
  }
  
  .link-item {
    position: relative;
    display: inline-block;
    float: left;
    margin: 5px;
    > .panel-heading {
      padding: 5px;
      > .label-class {
        display: none;
      }
    }
    .thing-id {
      display: none;
    }
    > .panel-heading {
      overflow-x: hidden;
    }
  }
  
  .main-item {
    > header .thing-label {
      font-weight: bold;
      font-size: 2em;
    }
    .thing-id {
      float: right;
    }
    .panel-title {
    }
    .panel-body {
      padding: 4px 4px;
    }
    dl {
      margin-bottom: 0px;
      display: inline-block;
      width: 100%;
      hr {
        border-style: dotted;
        margin: 0px 0px 0px 0px;
      }
      dd, dt {
        padding: 3px 0px 0px 0px;
      }
      dt {
        width: 160px;
        text-align: right;
        margin-right: 1em;
        a {
          cursor: help;
          color: @color-prop-list;
          line-height: 12px;
          font-weight: normal;
          border-bottom: dashed #fff 1px;
          display: inline-block;
          &:hover, &:focus {
            text-decoration: none;
            border-bottom: dashed @color-prop-list 1px;
          }
        }
      }
      dd {    
        &:last-of-type {
          margin-bottom: 0px;
        }
        ul {
          list-style: none;
          padding: 0px;
        }
        .panel {
          margin-top: 0px;
          margin-bottom: 6px;
        }
      }
      dt {
        display: table-cell;
        margin-bottom: 5px;
      }
    }
  }
  
  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    .nav > li > a {
      padding: 15px 15px;
    }
  }
  
  .chip-expanded {
    background-color: white;
    position: absolute;
    z-index: 500;
    margin-left: -1px;
    margin-top: -1px;
    min-width: 400px;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    > .panel-heading {
      padding: 5px;
      margin-bottom: 5px;
    }
    &.active {
      display: block;
    }
    &.to-be-active {
      display: none;
    }
    .label-class {
      margin-bottom: 8px;
    }
    .thing-label {
      display: block;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .thing-id {
      float: right;
      display: block;
      max-width: 175px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: @color-id;
    }
  }

  .side-view .chip-expanded {
    min-width: 100%;
  }
  
  // PAGED COLLECTION
  .search-controls {
    padding: 20px;
    .search-details {
      margin-bottom: 1em;
    }
  }
  .no-hits {
    padding: 20px;
  }

  .hit-item {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    transition: 0.3s linear all;
    hr {
      margin: 5px 0px;
    }
    dl {
      width: 100%;
      margin-bottom: 0px;
      display: inline-table;
    }
    dd {
      max-width: 900px;
      ul {
        max-width: 670px;
        padding: 0;
        list-style: none;
      }
    }
    dd, dt {
      display: inline-block;
      vertical-align: top;
    }
    dt {
      width: 160px;
      text-align: right;
      margin-right: 1em;
      a {
        cursor: help;
        color: @color-prop-list;
        font-weight: normal;
        border-bottom: dashed #fff 1px;
        display: inline-block;
        &:hover, &:focus {
          text-decoration: none;
          border-bottom: dashed @color-prop-list 1px;
        }
      }
    }
    .panel-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .thing-label {
      display: inline-block;
    }
    .thing-id {
      float: right;
    }
    > .panel-heading .thing-label {
      font-size: 2em;
      color: @color-headers;
    }
  }
}
