
body {
  max-width: 64em;
}

table, th, td {
  border: 2px inset;
  border-collapse: collapse;
}
th {
  font-weight: bold;
}
th, td {
  vertical-align: top;
}

iframe[name=vocabview] {
  background-color: #fff;
  border: 1px solid black;
  position: fixed;
  right: 2em;
  top: 2em;
  width: 32em;
  height: 42em;
  display: none;
}
