body {
  position: relative;
}

body.has-navbar {
  padding-top: 70px;
}

.dropdown-menu.list-inline {
  width: 42em;
}
.dropdown-menu.list-inline > li > a {
  padding: 2px 8px;
}

tbody td, tbody th {
  vertical-align: top;
}

.has-navbar [id]:before {
  display: block;
  content: " ";
  height: 50px;
  margin-top: -50px;
}
